/* src/styles/tailwind.css */
@import "tailwindcss";

@theme {
  --font-display: "Orbit Village", sans-serif;
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui;
  
  --color-bunny-pink: #db2777; 
}